

<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login • Diário Glicemia</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<main class="container">
    <div class="card">
        <h1 class="title">Entrar</h1>

        <form id="loginForm" class="form">
            <label class="label">
                <span class="label-text">Email</span>
                <input id="email" name="email" type="email" required placeholder="nome@email.com" />
            </label>

            <label class="label">
                <span class="label-text">Senha</span>
                <input id="password" name="password" type="password" required placeholder="*****" />
            </label>

            <button type="submit" class="btn btn-primary" id="submitBtn">Entrar</button>

            <p id="message" class="message" aria-live="polite"></p>
        </form>

        <p class="small">
            Não tem conta? <a href="/register" style="color:#007bff; text-decoration:none;">Crie sua conta aqui</a>
        </p>

    </div>

    <footer class="footer">
        <small>Diário Glicemia • Cleber Ferreira.Dev</small>
    </footer>
</main>

<script th:src="@{/js/script.js}"></script>
</body>
</html>